.bus-card {
    padding: 20px;
    margin: 20px 25px;
    width: 200px;
    background: #eee;
    display: inline-block;
}

.bus-card > img {
    width: 100%;
    position: relative;
}

#close > i{
    cursor: pointer;
    /* border: 1px solid red; */
    /* background: white; */
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -5px;
    transform: scale(1.3);
}

.add-card {
    border: none;
    text-align: center;
    height: 290px;
    opacity: .3;    
    cursor: pointer;
}

.add-card > i {
    height: 45px;
    margin-top: 50% - 45px;
}