<div class="container-fluid">
    <!-- OVERVIEW -->
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title"> Payment History </h3>
        </div>
        <div class="panel-body">

            <table class="table table-striped table-inverse table-responsive">
                <thead class="thead-inverse">
                    <tr>
                        <th>Client Name</th>
                        <th>Bus Number</th>
                        <th>Location</th>
                        <th>Date & Time</th>
                        <th>Amount (GHC)</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"> Sam Sammer </td>
                            <td> GH329-12 </td>
                            <td> Accra </td>
                            <td> 12/07/20 - 13:35 </td>
                            <td> 35.00 </td>
                        </tr>
                        <tr>
                            <td scope="row"> Jon Boomer </td>
                            <td> AC876-64 </td>
                            <td> Ho </td>
                            <td> 21/6/20 - 12:20 </td>
                            <td> 21.00 </td>
                        </tr>
                    </tbody>
            </table>

        </div>
    </div>
</div>