<div class="container-fluid">
    <!-- OVERVIEW -->
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">Overview</h3>
            <p class="panel-subtitle"> NORDIC LOGISTICS </p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="metric" routerLink="/bus-management">
                        <span class="icon"><i class="fa fa-bus"></i></span>
                        <p>
                            <span class="number"> {{ buses }}   </span>
                            <span class="title">Buses</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="metric">
                        <span class="icon"><i class="fa fa-bus"></i></span>
                        <p>
                            <span class="number"> {{ rentBuses }} </span>
                            <span class="title"> Rent <br> vehicles </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="metric">
                        <span class="icon"><i class="fa fa-road"></i></span>
                        <p>
                            <span class="number"> N/A </span>
                            <span class="title"> Buses in <br> transit </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="metric" routerLink="/users">
                        <span class="icon"><i class="fa fa-users"></i></span>
                        <p>
                            <span class="number"> {{ users }} </span>
                            <span class="title"> Users </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>